name: CI

on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: coursier/setup-action@v1
        with:
          jvm: adopt:11
      - name: Tests Coverage
        run: |
          sbt clean "set core/coverageEnabled:=true" "set cli/coverageEnabled:=true" test coverageReport \
            && sbt coverageAggregate
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
