name: Release
on:
  push:
    branches: [main]
    tags: ["*"]
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: coursier/setup-action@v1
        with:
          jvm: temurin:11
      - run: |
          sbt ci-release
          sbt docs/docusaurusPublishGhpages
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
